html,
body {
  @apply h-screen;
}

#__next {
  @apply flex flex-col h-screen p-2;
  @apply bg-slate-300;
}

a {
  @apply text-blue-500 !important;
  @apply underline !important;
  @apply hover:text-blue-300 !important;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
